<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    div {
        background-color: aqua;
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: blue;
        font-size: 40pt;
    }

    #counter {
        text-align: right;
        color: red;
        font-size: 15pt;
    }

</style>
<head>
    <p id="counter">Visited {{ count }} times.</p>
    <div>
        <h1>Welcome To My Website!</h1>
        <h2>Glad you could make it to my Website. Hope it wasn't too hard to find :).</h2>
        
    </div>
</head>

<body>
    
</body>

